.table{
    top:50px;
    left: 25%;
}
body{
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #D2F0F2;
}
.ajout{
    position: relative;
    top: 22px;
    left: 53%;
}